* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.5;
  text-align: center;
  padding: 30px 15px;
  margin: 0;
}

main {
  background-color: #eee;
  border-radius: 5px;
  max-width: 1158px;
  margin: 0 auto;
  padding: 30px;
}

h1,
h2,
p,
figcaption,
blockquote {
  margin: 0;
}

ul {
  padding: 0 100px;
  margin: 0;
  margin-bottom: 2em;
  list-style-position: outside;
  text-align: left;
  font-size: 1.2rem;
}

li {
  margin-bottom: 5px;
}

time {
  font-weight: bold;
}

#title {
  font-size: 3rem;
  margin-bottom: 0.2em;
}

#description {
  font-size: 1.5rem;
  margin-bottom: 0.8em;
}

#img-div {
  margin: 0;
  margin-bottom: 2.5em;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

#img-caption {
  padding: 10px 15px 20px 15px;
}

#image {
  width: 100%;
  height: auto;
}

#tribute-info {
  font-size: 2rem;
  margin-bottom: 1em;
}

#quote {
  padding: 0 100px;
  margin-bottom: 2em;
  font-size: 1.2rem;
  font-style: italic;
}

#reference {
  font-size: 1.1rem;
}

#tribute-link {
  color: #333;
  font-weight: bold;
  transition: color 300ms ease;
}

#tribute-link:hover,
#tribute-link:focus {
  color: #32409a;
}
